<h2>The Sphinx seeks your answers</h2>

<form  action='/output' method="post">
  <div class="row">
    <div class="col-md-6">
      <h5>Answer the riddles to proceed</h5>
      <div class="form-group">
        <label for="riddle1">What has one head, one foot and four legs?</label>
        <input id="riddle1" name="riddle1" type="text">
      </div>
      <div class="form-group">
        <label for="riddle2">What is the center of gravity?</label>
        <input id="riddle2" name="riddle2" type="text">
      </div>
      <div class="form-group">
        <label for="riddl3">What state is surrounded by the most water?</label>
        <input id="riddle3" name="riddle3" type="text">
      </div>
    </div>
  <button type="submit" name="submit" class="btn btn-info">submit</button>
</form>
