<h4>Send your parcel today</h4>

<form  action='/result'>
  <div class="row">
    <div class="col-md-6">
      <h5>Enter dimensions</h5>
      <div class="form-group">
        <label for="length">Length</label>
        <input id="length" name="length" type="text">
      </div>
      <div class="form-group">
        <label for="width">Width</label>
        <input id="width" name="width" type="text">
      </div>
      <div class="form-group">
        <label for="height">Height</label>
        <input id="height" name="height" type="text">
      </div>
    </div>
    <!-- <div class="col-md-6">
      <h5>Enter weight</h5>
      <div class="form-group">
        <label for="weight">Weight</label>
        <input id="weight" name="weight" type="text">
      </div>
    </div> -->
  <button type="submit" class="btn btn-info">Send</button>
</form>
